.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 2rem;


    .card {
        width: 80%;
        color: white;
        overflow: hidden;

        .inputData {
            width: 100%;
            height: 4rem;
            position: relative;
            font-family: "Ubuntu";
            font-size: 1.3rem;

            input {
                width: 100%;
                height: 100%;
                border: none;
                border-bottom: 2px solid silver;
                background: none;
                outline: none;
                font-size: 1.5rem;
                font-family: "Ubuntu";

                &:focus ~ .formUnderline{
                    display: block;
                }
            }

            .formUnderline {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 3px;
                background-color: #ff79c6;
                box-shadow: rgba(255, 121, 198, 0.70) 0px 0px 27px  0px;
                display: none;
                transition: display 0.2s ease;
            }
        }

        .textarea {
            width: 100%;
            height: 35vh;
            border-radius: 10px;
            border: 2px solid silver;
            background-color: none;
            overflow: hidden;
            padding: 1rem;
            margin-top: 2rem;
            
            textarea {
                outline: none;
                width: 100%;
                height: 100%;
                background: none;
                border: none;
                font-size: 1.3rem;
                resize: none;
                font-family: "Ubuntu";

                &:active ~ .textarea{
                    border: 2px solid #ff79c6;
                    box-shadow: rgba(255, 121, 198, 0.25) 0px 50px 100px -20px, rgba(255, 121, 198, 0.3) 0px 30px 60px -30px;;
                        
                }
            }

        }

        .buttonContainer {
            width: 100%;
            height: 6rem;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            .button {
                background-color: #ff79c6;
                font-size: 1.3rem;
                font-family: "Ubuntu";
                padding: 5px;
                width: 7rem;
                height: 3rem;
                margin-left: 5px;
                cursor: pointer;
                transition: transform 0.2s;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 3px;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    }

    .linksContainer {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-size: 1.3rem;


        .link {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 1rem;
            cursor: pointer;
            color: white;

            &:hover {
                text-decoration: underline;
            }
        

            &:last-child {
                margin-bottom: 0;
            }

            .icon {
                width: 3rem;
                margin-right: 1rem;
                font-size: 2rem;
            }
        }
    }
}

.greetingsContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(112, 112, 112, 0.1);
    backdrop-filter: blur(5px);
    z-index: 5;
    padding: 0 5%;

    .card {
        width: 30rem;
        height: 20rem;
        background-color: #282a36;
        border-radius: 10px;
        border: 2px solid white;
        font-family: "Ubuntu";
        padding: 2rem;
        text-align: justify;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        font-size: 1.2rem;

        .ButtonContainer {
            height: 4rem;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            
            button {
                background-color: #ff79c6;
                width: 6rem;
                padding: 5px 5px;
            }
        }



    }
}

@media screen and (max-width: 700px) {
    .container {
        .card {
            width: 100%;
        }
    }
}