.card {
    height: 2rem;
    font-size: 0.5rem;
    display: flex;
    padding: 10px 0.5rem;
    margin: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 30px;
    transition: transform 0.3s;
    width: fit-content;

    &:hover {
        transform: scale(1.1);
    }


    .image {
        height: 20px;
        width: 20px;
        margin: 0 5px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            box-sizing: border-box;
        }
    }



    .icon {
        width: auto;
        margin: 0 5px;
        font-size: 1.5rem;
    }


}